aiohttp==3.8.1
aiosignal==1.2.0
boto3
bs4==0.0.1
dj-database-url==0.5.0
Django==4.0.4
django-crispy-forms==1.14.0
Pillow==8.4.0
sqlparse==0.4.2
twine==4.0.0
urllib3==1.26.7
gunicorn
django-on-heroku
django-storages
numpy
pandas
matplotlib
seaborn
