/*Tabelas com Responsiveness*/

.flex_col_center>.card>.fixed_header{
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
  font-family: monospace;
  text-align:center;
  color: black;
  font-size:20px;
}
.flex_col_center>.card>.fixed_header>tr,td{
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
.flex_col_center>.card>.fixed_header>tr,th{
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
@media screen and (max-width: 1000px) {
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
  }
}
